Repository plotly/dash, pull requests merged in 2024-11, with the labels that each got.

#2926 Update default props
  @plotly/dash-generator-test-component-typescript/src/components/TypeScriptComponent.tsx
  @plotly/dash-generator-test-component-typescript/src/props.ts
  CHANGELOG.md
  components/dash-core-components/.eslintrc
  components/dash-core-components/package-lock.json
  components/dash-core-components/package.json
  components/dash-core-components/src/components/Link.react.js
  components/dash-core-components/src/components/Loading.react.js
  components/dash-core-components/src/components/Tab.react.js
  components/dash-core-components/src/components/Tabs.react.js
  components/dash-core-components/src/components/Tooltip.react.js
  components/dash-html-components/.eslintrc
  components/dash-html-components/package-lock.json
  components/dash-html-components/package.json
  components/dash-html-components/scripts/generate-components.js
  dash/_dash_renderer.py
  dash/extract-meta.js
Labels: feature, P2

#2276 Add typing to component init
  @plotly/dash-generator-test-component-typescript/base/py.typed
  MANIFEST.in
  dash/__init__.py
  dash/_callback.py
  dash/development/_py_components_generation.py
  dash/development/_py_prop_typing.py
  dash/development/base_component.py
  dash/py.typed
  dash/types.py
  requirements/ci.txt
  requirements/install.txt
  tests/integration/test_typing.py
  tests/unit/development/metadata_test.py
  tests/unit/development/test_generate_class.py
  tests/unit/development/test_generate_class_file.py
Labels: feature, P2, dash-3.0

#3029 Add hooks
  .pylintrc
  dash/__init__.py
  dash/_callback.py
  dash/_hooks.py
  dash/dash.py
  dash/exceptions.py
  dash/resources.py
  tests/integration/callbacks/test_layout_paths_with_callbacks.py
  tests/integration/test_hooks.py
  tests/unit/library/test_async_resources.py
Labels: feature, P1, dash-3.0

#3080 More flexible reading of component docstrings
  CHANGELOG.md
  dash/extract-meta.js
Labels: feature, P2

#3035 add prop types to tsx components
  @plotly/dash-generator-test-component-typescript/base/__init__.py
  dash/development/_generate_prop_types.py
  dash/development/_r_components_generation.py
  dash/development/component_generator.py
  dash/resources.py
Labels: feature, P1, dash-3.0

#3071 Add docs for `get_asset_url`
  dash/_get_paths.py
  dash/dash.py
Labels: documentation, feature, P1
